[2017-01-23 10:36] mrtj opened #2 "Upload different apps in the same bucket"
Hi, why "it is highly suggested that you make a separate bucket for each of the apps"? In our company we are maintaining dozens of app releases in a white-label manner so it is rather inconvenient to have a separate bucket just for the release of each of theses apps. Also, AWS accounts have a limit of 100 buckets by default and each app consumes a bucket from this pool shared with other buckets no

[2017-01-23 10:44] mrtj opened #3 "Ruby warning after migrating from s3 action to aws_s3 plugin"
I recently migrated from s3 action to aws_s3 plugin as suggested by the deprecation message of the action. Since then every time I run fastlane I receive the following warnings:

[code]

Is there any way to suppress these warnings?

[2017-01-23 21:35] fhickman commented on #2
Agreed, it would be very handy to have an `app_path` configuration variable (which would default to the bucket root), and could be used to organize apps (or branches of apps) under a single S3 bucket.

[2017-01-23 22:50] joshdholtz commented on #2
@mrtj I think I had it "highly suggested" because I didn't test it with multiple apps in the same bucket 😬  I can work on adding this feature though - it makes sense and I really don't know why I had it as that in the first place

[2017-01-23 22:56] fhickman opened #4 "Feature request: Pre-signed URLs"
Lots of our app distribution is for internal-only Enterprise-licensed builds.

For S3 buckets that we do not wish to make publicly readable, it would be great to generate the URLs within the .plist/.html using pre-signed URLs. You could supply a parameter for the expiration time of the URLs, or default it to 1 year.

(Sorry, if I knew a lick of Ruby I'd generate a PR myself. :) )

[2017-01-23 23:35] truth3 opened #5 "Trouble with region parameter"
I am having trouble with the region parameter after the action finishes.

It seems that adding that to the URL for my region causes a cert mismatch (or something) and breaks the download to the device. I can't leave it empty as its a required parameter.

If I trim the `region` from the URL then everything works as expected. FWIW I am in region `us-east-1`. Here is the message the browser shows.

!

[2017-01-23 23:36] joshdholtz commented on #5
@truth3 Hmm, I also use `us-east-1` and I have not had that issue. Can you send me what your code looks like and the output?

[2017-01-23 23:40] truth3 commented on #5
Here is the action setup (just switched from built-in S3 to the plugin)

[code]
And here is the output from the action

[code]

[2017-01-23 23:43] truth3 commented on #5
I had to get something out the door for a client, and hacked this band-aid together. I just hard coded the **s3_subdomain** in aws_s3_action.rb

`s3_subdomain = "s3"`

[2017-01-23 23:43] joshdholtz commented on #5
@truth3 It looks like it successfully uploading. Can you try opening that URL in a different browser? (Not sure if that will solve the issue but curious what opening it in Safari/Firefox does)

[2017-01-23 23:46] joshdholtz commented on #5
@truth3 I will not be able to look into this tonight but I will work on this tomorrow for ya 👌

[2017-01-23 23:47] joshdholtz commented on #3
@mrtj If there isn't a way to suppress these warnings I will open a PR into the the main `fastlane` project and make a way 😊  But I agree, this is a bit annoying 😉

[2017-01-23 23:48] truth3 commented on #5
@joshdholtz No worries.. appreciate the super quick reply. Seems like this might resolve itself? If I accept the warning about the cert and continue, it loads up this error.

<h2>Our services aren't available right now</h2><p>We're working to restore all services as soon as possible. Please check back soon.</p>Ref A: E99C833306984D5896FA8C552AA45E83 Ref B: LAXEDGE0420 Ref C: Mon Jan 23 15:47:15 20

[2017-01-24 16:23] joshdholtz commented on #4
@fhickman No worries! I will add this to list of features to implement 😊

[2017-01-24 17:14] joshdholtz commented on #3
@mrtj This is fixed on `master` in `fastlane`. It should be included in the next release 🚀

https://github.com/fastlane/fastlane/pull/7976

[2017-01-24 17:14] #3 closed

[2017-01-24 17:21] joshdholtz commented on #5
@truth3 Can you try explicitly setting the `region` in your command? Curios if this fixes your issue

[code]

[2017-01-24 23:19] truth3 commented on #5
@joshdholtz I gave this a try, and same result..  I am wondering if this is just some issue on AWS side as you can compare the different results from the two URLs. The first throws back the error in my previous comment, while the second should give you a proper access denied from AWS.

https://s3-us-east-1.amazonaws.com/iform-ios-build-automation/

https://s3.amazonaws.com/iform-ios-build-automati

[2017-01-25 05:16] joshdholtz commented on #5
@truth3 It seems your URLs being generated are different than how they should be. All of my testing and apps that use this generate the URL in the format of `http://<bucket_name>.s3-<region>.amazonaws.com/android/index.html`.

A url of mine: http://fastlane-plugin-s3.s3-website.us-east-2.amazonaws.com/android/index.html

It _appears_ you may not be using the newest version of the plugin? I **think

[2017-01-26 15:00] truth3 commented on #5
@joshdholtz I took a closer look at this, and the plugin version shows 0.2.0 (so should be on latest code). This are the various formats of the URLs created on AWS are shown below. I actually think the one to create the .plist may be outdated as it shows the region before the bucket ( see code in bold).

HTML
`https://<bucket>.s3.amazonaws.com/AppName.html`

PLIST
`https://<region>.amazonaws.com/<

[2017-01-26 18:11] truth3 opened #6 "Variable order when creating .plist URL"
A discussion within #5 brought shows the URL should be built with the bucket name first, followed by the region. The current structure of the .plist URL has the order switched.

[2017-01-30 23:56] Ogel commented on #5
Hi guys - I was just about to post another issue related to the `us-east-1` region.  When using the plugin, the upload process works fine for us.  However, the installation link on the resulting HTML page is busted.

The `us-east-1` is apparently a rename of the original "standard" region, and for some reason Amazon doesn't support links that reference it directly (like the other regions):
https:/

[2017-01-31 06:16] truth3 commented on #5
Hey @Ogel if you don't want to edit the HTML by hand, you can modify that one line on the action locally to just strictly use **s3** instead of the region prefix. Thats been working great for me

[2017-01-31 12:50] #6 closed

[2017-01-31 12:52] joshdholtz commented on #5
@Ogel Great find! Working on a fix for this now 👌

[2017-01-31 13:30] joshdholtz commented on #5
@truth3 Just released version `0.2.1`. My output of the HTML and plist urls can be seen in #9 so this _should_ work for you. The "East" output is using `us-east-1` and the "West" output is using `us-west-1`. I also have a bucket in `us-east-2` which behaves like `us-west-1` does.

I hope this works for you 😊

[2017-01-31 14:32] joshdholtz commented on #2
@mrtj @fhickman I just created #11 to add this feature. If either of you would like to review/try the PR before I merge that would be greatly appreciated 😊

[2017-02-01 05:07] Ogel commented on #5
Thanks for the quick fix, @joshdholtz!  I just upgraded and will use it soon - I'll let you know if we run into any issues.

[2017-02-01 05:08] truth3 commented on #5
@joshdholtz Just got a chance to upgrade and run a few builds through. Everything is looking 💯  to me. If all looks good to you @Ogel I would say we can close this one and march on.

[2017-02-01 14:23] mrtj commented on #2
Wonderful! I would love to try your PR but being very newbie in ruby/ruby package manager I don't know how could I install a temporary version of aws_s3 plugin from your branch?

[2017-02-02 23:22] Ogel commented on #5
This ran successfully for me today - thanks!

[2017-02-03 14:10] #5 closed

[2017-02-03 21:18] joshdholtz commented on #2
@mrtj Try changing your `Pluginfile` to following and then run `bundle install`...

[code]

[2017-02-14 05:16] fhickman commented on #2
@joshdholtz I've tried it out locally, works like a charm. You've got my vote for merging it into `master`.

Thanks!

[2017-02-14 20:46] #2 closed

[2017-02-15 19:35] n1mda commented on #2
Can you release version 0.2.2 so this is available without pointing the gemfile to a specific branch?

[2017-02-15 19:58] joshdholtz commented on #2
@n1mda Should be released now!

[2017-03-09 02:19] kevinnguy opened #16 "APK can't open file"
After uploading my APK to S3 and downloading it from an Android device, I can't open my apk file and install the app. Here's my Fastfile lane:

[code]

Thanks for the great plugin!

[2017-03-09 02:34] kevinnguy commented on #16
I normally distribute my apk via HockeyApp so I assume that my apk isn't corrupted. Here's my lane for that:

[code]

[2017-03-14 12:36] joshdholtz commented on #16
@kevinnguy What error are you getting when trying to download/install this?

[2017-03-14 21:10] kevinnguy commented on #16
When I try to install my downloaded apk, I get the Android toast `Can't open file`

[2017-03-14 21:19] joshdholtz commented on #16
@kevinnguy Are you able to send me the link to the generated HTML page so I can take a closer look? Paste here if you'd like, email to me at me@joshholtz.com, or DM on Twitter at `@joshdhotlz`

[2017-03-14 23:33] kevinnguy commented on #16
Sorry @joshdholtz, it's work-related so I can't send you the link. I've ended up using s3cmd to upload my apk manually. This issue may be my own problem so I'll close it.

[2017-03-14 23:33] #16 closed

[2017-03-15 07:55] fabware opened #17 "need plist_file_name option back"
Compare to plugin s3, aws_s3 eliminate plist_file_name option. Without settings plist_file_name, It will makes download link break.

Would like to see it included in a release soon.

[2017-03-15 12:27] joshdholtz commented on #17
@fabware Are you referring to #15? This just got merged yesterday and will be releasing today

[2017-03-20 20:49] NikKovIos commented on #17
How to update plugin?

[2017-03-21 13:46] joshdholtz commented on #4
Closed because AWS S3 SDK only allows max of 1 week... See #14

[2017-03-21 13:46] #4 closed

[2017-03-21 13:49] joshdholtz commented on #17
Version `0.2.3` all pushed to Ruby gems

[2017-03-21 13:49] #17 closed

[2017-03-21 14:05] NikKovIos commented on #17
Please write how to update it

[2017-03-21 14:11] joshdholtz commented on #17
@NikKovIos It will most likely be 'gem update fastlane-plugin-aws_s3' or `bundle update` depending on how you have things installed... I do not know your setup

[2017-03-22 08:44] simonvaucher opened #18 "Cannot use special characters in CFBundleName"
Special characters in the app's title are creating a faulty .plist file.
This fix was added to the old S3 action, but is not implemented in the plugin:
https://github.com/fastlane/fastlane/pull/7565

There are even better solutions out there, like handling the escape inside the `.erb` template.

[2017-03-23 01:19] fabware commented on #17
@joshdholtz thanks for your quick fix.

[2017-04-04 13:42] cupojoe opened #19 "Custom HTML Template"
Is there a way to provide a custom HTML template for the download page?

[2017-04-04 14:54] joshdholtz commented on #19
You can use these action params - https://github.com/joshdholtz/fastlane-plugin-s3/blob/master/lib/fastlane/plugin/aws_s3/actions/aws_s3_action.rb#L35-L36

Sorry, documentation on that is not the best right now 😇

[2017-04-06 03:06] bdrelling commented on #19
Had this same question, this is great. Thanks!

[2017-04-06 03:17] cupojoe commented on #19
Thanks!

[2017-04-10 21:04] joshdholtz commented on #19
@bdrelling Had no idea that was a bonus feature 😊 Thanks for even letting me know!

[2017-04-10 21:04] #19 closed

[2017-04-10 21:19] #18 closed

[2017-04-21 12:24] NikKovIos opened #22 "AWSFile"
It would be very useful if can use default evironments like Gemfile, Appfile, Matchfile...

[2017-04-21 13:15] joshdholtz commented on #22
@NikKovIos You can put your defaults in a `.env` file in the `fastlane` directory

[code]

Just run `fastlane action s3` to see all the parameters that have optional environment variables. Using a `.env` file is the preferred method since you can add it to your `.gitignore` so the secrets don't get committed to a repo.

[2017-04-21 13:15] joshdholtz commented on #22
Also, let me know if I didn't interpret your question right. I THINK that is what you were getting at but not 100% sure.

[2017-04-21 13:37] NikKovIos commented on #22
I have next code
[code]
and i want to put default values to AWSFile due when i use this code it takes values like       `upload_metadata true` or `plist_template_path "fastlane/s3_plist_template.erb"` from it.

[2017-04-21 13:45] joshdholtz commented on #22
@NikKovIos I can add this to my list of features to add when I have time... Or I would appreciate a PR if you would like to add this yourself 😊

I am moving into my new house over the next two weeks so I probably wouldn't get around to this until after then.

[2017-04-21 14:56] NikKovIos commented on #22
Good luck)

[2017-04-25 17:54] jpaas opened #23 "can't get source param to work"
I have a React Native app and I'm trying to use the source param to upload my jsbundle and sourcemap along with my ipa and apk files. e.g.

[code]

My ipa, dsym, plist all get uploaded fine, but not the source folder. Is this a bug or am I doing something wrong?

[2017-04-25 20:07] joshdholtz commented on #23
@jpaas Not sure if bug and not sure if you are doing something wrong 😊  I have never tried to upload a ReactNative app like this before but I can look into it for you. I am moving into a new house this weekend so I should have some time next week to take a look at this for you 👌

[2017-04-25 20:41] jpaas commented on #23
Thanks @joshdholtz. I'm using this plugin to archive my builds. I just wanted to archive the JS code alongside the binary code. From the description of the source param I thought I could throw the JS code and source map into a build folder and it would tag along.

[2017-05-18 22:11] cupojoe commented on #19
@joshdholtz Maybe a good default addition would be build number.

[2017-05-19 15:15] #23 closed

[2017-05-19 15:20] joshdholtz commented on #23
@jpaas This is released in `0.2.6` now ✊  Thanks for reporting this!

[2017-05-19 15:23] jpaas commented on #23
Thanks @joshdholtz! It might be a little while before I do my next deploy, but i will be sure to check it out when I do.

[2017-05-19 15:27] joshdholtz commented on #19
@cupojoe Where do you want the build number to be added to?  🤔

[2017-05-19 15:30] joshdholtz commented on #19
@bdrelling There is not a way to skip the HTML uploading right now but I can add that today!

[2017-05-19 15:59] joshdholtz commented on #23
@jpaas I lied! Please use `0.2.7` 😇  `0.2.6` is 💩

[2017-05-19 16:00] joshdholtz commented on #19
@bdrelling `0.2.7` has your `skip_html_upload` parameter in it

[2017-05-19 16:06] cupojoe commented on #19
@joshdholtz I think here:
https://github.com/joshdholtz/fastlane-plugin-s3/blob/master/lib/assets/s3_ios_html_template.erb#L58

[2017-05-19 16:15] joshdholtz commented on #19
@cupojoe Ahhhhhh yeah yeah! I can change that today 👌

[2017-05-19 18:54] cupojoe commented on #19
@joshdholtz  How would I install the plugin with this changes?

Also, when referencing a custom html_template, running locally it works fine, but when running on bitrise (CI) it doesn't. The path is relative to the root of the project, right?

[2017-05-22 12:18] joshdholtz commented on #19
@cupojoe You probably need to run `bundle update` if you are using a `Gemfile`

[2017-05-22 16:17] bdrelling commented on #19
@joshdholtz Damn man, you're crushing some work on this in the past few days. Thanks for the support!

[2017-05-22 16:27] joshdholtz commented on #19
@bdrelling Thank you, thank you! I've been holding "Fastlane Friday Office Hours" on my Twitch channel (https://www.twitch.tv/joshdholtz) past two Fridays and will try to be every future Friday where I answer anyones questions live and if no one has questions I work on Fastlane PRs so that is why you've been seeing more activity lately 😊  Feel free to drop by my stream on Friday if you need any he

[2017-06-02 19:19] tfhartmann opened #28 "Errors when trying to upload upload an asset to s3"
Hi,

Thanks for creating this plugin! We recently switched to it, but have been getting a `Access Denied` error, and are trying to figure out why. The IAM user that upload the access hasn't changed, just the gem we use to upload the asset.  I've attached an example of the policy attached to the IAM user, is there a set of permissions that this plugin needs?  I suspect PEKAC on my part, so any help

[2017-06-03 02:36] joshdholtz commented on #28
@tfhartmann Not a problem! Glad you like it 😊  This is almost an exact copy of what was in fastlane proper (if that is what you are referring to switching from). I originally created that plugin in fastlane proper but it made more sense to pull out as a plugin for faster updating 😉

So there MIGHT be something that changed between that one (that I think you switched from) and this one. This one MI

[2017-06-15 11:22] schluete opened #29 "Move HTML page into version directories"
The HTML page is generated outside of the directories containing the uploaded versions. Since we would like to have an easy way to install older builds it would be great if there's a way to move the generated HTML files into those directories.

[2017-06-16 11:53] schluete opened #31 "HTML generation fails because Date.current is not available"
Commit 4c04ef11f introduced a call to `Date.current` in the HTML ERB templates, which is not available by default. Replacing it with `Date.today` fixes the problem.

[code]

[2017-06-18 06:00] davibe opened #32 "upload additional files"
For example i would like to upload CHANGELOG.md which i will then read with ajax in my html template. The goal is to show the user what changed in this version right before / during download

[2017-07-31 14:06] joshdholtz commented on #31
Fixed in #30

[2017-07-31 14:06] #31 closed

[2017-07-31 14:43] joshdholtz commented on #29
Closed in #30

[2017-07-31 14:43] #29 closed

[2017-07-31 14:44] joshdholtz commented on #28
@tfhartmann Where you able to figure this out yet?

[2017-07-31 14:46] joshdholtz commented on #32
@davibe I have not thought about this before but I do like this idea. I will work on this when I have some free time or if anybody wants to create a PR for this that would be super appreciated 😊

[2017-08-28 07:25] andrei-senchuk opened #38 "SSL_connect returned=1 errno=0 state=error: certificate verify failed"
Once I had had similar issue and resolved it by updating ruby to the 2.4.1 version (from brew). Now I'm trying to integrate S3 deployment and the aws_s3 command fails with the following stacktrace:

[code]

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------

[2017-08-30 14:12] andrei-senchuk commented on #38
My bad, the reason was in wrong aws_s3 command configuration. Sorry I didn't add this update at once I understood it.

[2017-08-30 14:12] #38 closed

[2017-09-05 11:01] #22 closed

[2017-09-05 11:01] joshdholtz commented on #28
Closing issue due to no activity

[2017-09-05 11:01] #28 closed

[2017-09-06 02:24] smithamax opened #39 "Can't use machine credentials."
Because of the way the aws keys/profile are being validated, the aws-sdk can't fall back to the credentials in the aws config file, or ec2 role.

[2017-09-06 15:32] joshdholtz commented on #39
@smithamax I believe this support was added in #35 but I am not super familiar with these approaches. If you could provide me with some more exact details I can work on this when I get some time or if you would like to help, a PR would be greatly appreciated ❤️

[2017-09-07 04:51] smithamax commented on #39
So that works for aws config files if you're using profiles , but it doesn't for ec2 roles. ec2 role credentials are obtained by the sdk over a link-local address. You might be able to add profiles on top but I've never done that.

If you want to test it out locally you could use [aws-vault](https://github.com/99designs/aws-vault) like...
[code]

I'm not really that familiar with ruby, but I think

[2017-09-07 10:38] joshdholtz commented on #39
@smithamax Thanks for info! Will take a look at 💪

[2017-10-10 15:28] oronbz opened #40 "override filename in s3"
Hi,
I have a specific need to upload the `ipa` to `s3` multiple times and with different names.

I thought it would be nice to add another parameter to the action: `file_name` which will override the default `ipa` param that is currently also being used for the uploaded `file_name`.

I can think of scenarios where this could be relevant for other people as well.
If you're with me on this, I could

[2017-10-10 16:40] joshdholtz commented on #40
@oronbz Totes down for this option if you want to make a PR 💪

[2017-10-15 08:14] oronbz commented on #40
💥  https://github.com/joshdholtz/fastlane-plugin-s3/pull/41

[2017-10-18 13:04] oronbz commented on #40
@joshdholtz ping 😸

[2017-10-30 14:10] acecilia opened #43 "Build time is always 00:00 AM"
After uploading an IPA, the "build on" is as follows:

`Built on Sat, 28 Oct 2017 00:00 AM`

The date is correct and changes with every build, but the time stays in 00:00 AM every time.
I was looking in your source code, but I can not really follow it.

Is this a know issue or a problem in my configuration? Where is that build time coming from?
Thanks

[2017-11-02 20:35] joshdholtz commented on #43
This is fixed now and will be released in next version!

[2017-11-02 20:35] #43 closed

[2017-11-02 20:35] joshdholtz commented on #40
Will be released in next version!

[2017-11-02 20:35] #40 closed

[2017-11-14 13:26] revolter opened #44 "Unable to Download App"
I get an error alert saying:

after the loading indicator on the app icon reaches 100%.

[2017-11-15 14:05] revolter commented on #44
This is because `gym` exports the `.ipa` for the App Store by default, but if export it for Ad Hoc distribution, I can't submit the archive for review. Is this plugin supposed to require two separate builds of the unmodified app?

[2017-11-15 15:29] revolter commented on #44
I solved it using:

[code]

[2017-11-15 15:29] #44 closed

[2017-11-22 11:08] katunch opened #46 "How about using CFBundleDisplayName instead of CFBundleName for title?"
Hi!

Would it be suitable to use `CFBundleDisplayName` instead of `CFBundleName` for the title property? This would be a nice enhancement when you have to change the Appname.

[2017-11-22 13:18] joshdholtz commented on #46
@katunch Ahhhhhh, didn't realize I was using `CFBundleName`. Can make that change 👍

[2017-11-28 06:54] davibe commented on #32
Further working on things.. i think this is not just about changelog. It's more about being able to upload additional artifacts. For example you may want to release a framework + sample app + resources + other artifacts that are specifically related to the build.

I wonder wether this should be a feature of this plugin or maybe it makes sense to have a separate and generic plugin for uploading fil

[2017-11-28 12:36] joshdholtz commented on #32
@davibe Sorry, I totally dropped the ball on this issue! Something like this was added in #45 so I can totes just reuse this same logic for adding an array of files. Thoughts?

[2017-11-29 06:42] davibe commented on #32
I think uploading a folder (recursive) would be better than an array of file. Think for example of automation test results. Those are generated dynamically during tests and you can't write the array in advance.

[2018-01-11 03:11] waltermvp commented on #19
@cupojoe did you ever get this working? I am having trouble using `app_directory: "path/to.html.erb"`

and the file looks like so

[code]

am i missing something?

[2018-01-17 17:44] cupojoe commented on #19
@waltermvp did you get it to work?

[2018-01-19 13:55] dlethin opened #47 "Add support for alternate download endpoints?"
I have a need for all the S3_*_OUTPUT_PATH env variables returned with a different s3 endpoint then is used for uploading.  The use case for this that the s3 bucket we use to store our IPAs and build artifacts are front-ended by AWS Cloudfront configured with WAF.  This provides us the ability to lock down public http access to our artifacts with a set of rules such as limiting by remote ip addres

[2018-01-23 22:18] machty opened #49 "Building both ios and android in a single fastlane run results in context clobbering"
I have a private helper lane that accepts options, does some shared logic, and then calls out to `aws_s3` with something that looks like:

[code]

This gets called multiple times in the course of one fastlane execution, but this causes issues if I'm building both ios and android in one execution, because `ipa` and `apk` get defaulted to `Actions.lane_context[SharedValues::IPA_OUTPUT_PATH]` and `Ac

[2018-02-03 07:16] waltermvp commented on #19
@cupojoe yep was missing the       
`html_template_path: 'fastlane/deploy_html_templates/s3_ios_html_template.erb'`

you mentioned. Thanks

[2018-02-03 21:12] cupojoe commented on #19
Awesome!

[2018-02-23 18:31] GeeAie opened #53 "wrong number of arguments (given 1, expected 2) with fastlane-2.82.0"
After upgrading the fastlane version (2.82.0), i've this error :

[code]

**fastlane/erb_template_helper.rb**
[code]

You must add a "trim_mode".
I fixed it with a nil value.

Many thanks !

[2018-02-23 20:53] timothy-volvo opened #54 "Roles are not supported"
The way the client is being instantiated, the role_arn is being ignored from the config/credentials file. According to a comment in issue [1256](https://github.com/aws/aws-sdk-ruby/issues/1256#issuecomment-235417877) of the aws-ruby-sdk, it appears the recommended way of instantiating a client is to pass the options in as a hash and let the SDK work out the security configuration.

For example:

[

[2018-02-25 01:16] squeeish commented on #53
Hi @GeeAie how exactly did you fix this? I've no ruby knowledge. Do I modify some file in fastlane?

[2018-02-25 07:47] #53 closed

[2018-04-14 04:37] duro commented on #4
@fhickman and @joshdholtz I was able to start getting around this by putting CloudFront in-front of the S3 bucket and using a private ACL. I then used Lambda@Edge to implement some kind of authentication in front if hitting the bucket (simple http-auth for now, but it could be made more complex)

However, I am running into a new challenge, which is that the hostname is baked into the `apk_url` par

[2018-04-14 04:58] duro commented on #4
It actually looks like #48 would fix my issues. Any reason that was never merged?

[2018-04-24 15:42] #46 closed

[2018-04-24 23:12] acecilia opened #58 "no implicit conversion of nil into String"
Updated to 1.4.0 from 1.1.1, I am getting the error "no implicit conversion of nil into String" in the aws_s3 fastlane step.

I can not provide much more information, since I can not see any more logs in the terminal. For now, I reverted back to version 1.1.1.

[2018-04-25 10:47] anuragajwani opened #59 "upload framework support"
Hi,

Currently it seems that either an IPA or an APK is required as a parameter. I would like to propose upload of compiled frameworks.

Use case:
We are using S3 to host compiled frameworks that are delivered via cocoapods.

I would be happy to collaborate but would like to know opinions.
Anurag

[2018-04-26 04:18] katunch commented on #58
You have to set the `CFBundleDisplayName` in you `Info.plist`.
I think the plugin should use `CFBundleName` instead of `CFBundleDisplayName` since this would not automatically be generated by Xcode when you create a project.

[2018-04-26 04:55] katunch commented on #58
I Just saw that was an issue which I've reported earlier 😂 so the perfect solving this issue is to use `CFBundleDisplayName` only when it is available. Otherwise use `CFBundleName`

[2018-04-26 12:30] acecilia commented on #58
@katunch you mean that to resolve the issue the code in [here](https://github.com/joshdholtz/fastlane-plugin-s3/commit/a0b58076a61857cce8ed3ad665f57e149645c92b) will need to be changed to use CFBundleDisplayName, or CFBundleName in case CFBundleDisplayName is not available?

At the moment I am using fastlane, so the Info.plist file is managed automatically by the lane

[2018-04-26 13:15] #58 closed

[2018-04-26 18:13] lucasromanomr opened #61 "How not upload xcarchive.zip and .dSYM.zip?"
Hello, how do I upload only .ipa and .plist files?

After I upgrade to a new version (1.4), every time I upload the file, it is also uploading `xcarchive.zip`, I think this file is not necessary for my use case. You would have to add a parameter so that it is not sent to s3. Really interesting to `.dSYM`

[2018-04-26 18:16] lucasromanomr commented on #61
https://github.com/joshdholtz/fastlane-plugin-s3/pull/60

[2018-04-29 11:05] hexelon commented on #61
just put empty string in xcarchive (xcarchive: '')

[2018-04-30 11:50] joshdholtz commented on #59
@anuragajwani You should be able to upload anything now as of `1.4.0` with the `files` and `folder` options 🙃

[2018-04-30 12:01] joshdholtz commented on #61
Empty string is the correct solution 😊 Thanks, @hexelon!

[2018-04-30 12:01] #61 closed

[2018-05-10 14:11] arturgrigor opened #62 "CFBundleDisplayName should be optional"
`CFBundleDisplayName` is not set by default when setting up a new Xcode project so the plugin should use the `CFBundleName` as fallback because right now it crashes the fastlane process.

[code]

[2018-05-16 13:10] katunch commented on #62
As I suggested here: https://github.com/joshdholtz/fastlane-plugin-s3/issues/46

[2018-05-16 13:16] katunch opened #63 "Make upload_xcarchive optional"
At the moment there is no way to skip  `upload_xcarchive`. Make it optional since it slows down the whole lane.

[2018-05-16 13:17] arturgrigor commented on #62
The important thing here is that the build should pass and right now if you don't have the `CFBundleDisplayName` property set in the `Info.plist` it won't. So I suggest using the `CFBundleName` as a fallback if you guys prefer `CFBundleDisplayName` over `CFBundleName`.

[2018-07-22 00:03] artak116 commented on #63
create separate lane for aws_s3

[2018-07-22 14:06] #63 closed

[2018-09-04 21:14] svanzoest commented on #39
this maybe addressed by #55

[2018-09-06 19:17] JesseScott commented on #59
how so ?

[2018-09-06 19:39] JesseScott commented on #49
I think this is a larger Fastlane issue with lane context...

[2018-09-06 19:42] revolter commented on #49
Are you using separate `platform` blocks?

[2018-09-10 14:59] anuragajwani commented on #59
awesome 🙂 thanks @joshdholtz. I'll be sure to check it out soon.

[2018-10-16 23:19] farshadtx opened #65 "Upload files only"
Is there a way to ignore all default arguments (like ipa, dsym and xcarchive) and just upload `files`?

* I know there is another plugin which is suppose to upload files but that one is old and not working.

[2018-10-17 01:14] kevnm67 commented on #65
@farshadtx have your tried the file or folder properties?

[2018-10-17 17:38] farshadtx commented on #65
I'm already using `files` but I still get plist, ipa and dsyms in the bucket.

here is my script:
[code]

[2018-10-17 18:01] farshadtx commented on #65
I think the reason was running gym before this call, fixed it by adding empty string to all those args:

[code]

[2018-10-17 18:01] #65 closed

[2019-02-13 11:06] tealorg opened #67 "ipa_url"
I want to be able to print ipa_url to file outside the aws_s3 plugin, I see that the env variable has been passed to ipa_url.. How can I print to screen?

[2019-02-13 11:53] revolter commented on #67
Does `puts(lane_context[SharedValues::S3_IPA_OUTPUT_PATH])` work?

[2019-02-14 11:08] tealorg commented on #67
Hello Mate,

Thanks I managed to call the environment variable outside aws_s3()

Cheers

[2019-02-14 11:14] #67 closed

[2019-03-28 16:03] WiesBen opened #68 "Realize Release Overview Page"
Hi there,

your plugin is wonderfully working. I have one question. Is it possible to have one single overview page where I can see all versions on s3 with its corresponding Changelog.md files and a user can select which one he would like to download?

[2019-04-08 05:51] revolter commented on #68
AFAIK, there isn't such thing, but Pull Requests are welcomed 😃

[2019-05-17 17:06] jaximan opened #71 "Update aws-sdk version"
Hi here!

In my project, I use aws-sdk-s3, which is v3 version of api. Your incredible plugin depends on aws-sdk v2 `~> 2.3`, which is incompatible by gem dependency resolver. Would you be open for PR with bump version of aws sdk and necessary code changes? Or it could be a reason why version bump is not acceptable?

Thanks!

[2019-06-13 21:18] jacobtabak opened #75 "`s3_path` param does not expect trailing slash for files/folders"
The default value of s3_path for APKs and IPAs is [`"#{version_code}_#{version_name}/" unless s3_path`](https://github.com/joshdholtz/fastlane-plugin-s3/blob/033c913d733c9d999211b215d83e02487ea4d3ec/lib/fastlane/plugin/aws_s3/actions/aws_s3_action.rb#L302)

The default value of s3_path for files is [`s3_path = "files" unless s3_path`](https://github.com/joshdholtz/fastlane-plugin-s3/blob/033c913d7

[2019-06-14 20:04] ram-nadella opened #76 "AWS S3 access denied error when trying to push a build to S3"
Hi,

Thank you for creating and maintaining this plugin.

I've managed to get this plugin working using my personal AWS credentials to get an iOS app build uploaded to S3.

We're working on getting this setup in CI (Circle) and would like to create a dedicated IAM user for use in CI with the bare minimum AWS permissions to allow builds to be uploaded to S3. Before we get this into CI, I am testing

[2019-06-14 20:38] ram-nadella commented on #68
@WiesBen we've done something like this for one of our enterprise apps, the code for this is not in a place where we can share cuz it's intertwined with other things we're doing there but the logic goes something like this:

When uploading a build, append the necessary info to a JSON file (say `versions.json`) and push that to S3. You'll have to read it first, add the new version to the list of ve

[2019-06-29 03:50] matthewweldon commented on #76
this is also happening to me:
`Aws::S3::Errors::AccessDenied: [!] Access Denied`

Here's my action
[code]
I've triple checked all those environment variables and can upload files directly with the same credentials, not sure where to go now.

[2019-07-01 23:34] matthewweldon commented on #28
@joshdholtz @tfhartmann
Did you guys figure out the exact privileges that are needed on the bucket? I keep getting access denied.

[2019-07-02 15:03] matthewweldon commented on #76
solved my issue, I had to specify a less public acl based on the custom default acl our bucket had. For me it was the following in my action in the fastfile:
`acl: 'bucket-owner-full-control',`

[2019-07-02 18:56] matthewweldon opened #77 "Sh action adding a backslash to redirect '>' character"
I have a sh action like this in my fastfile:

`  sh("echo", someString, ">", "Output.txt")`

the output in terminal from running the lane shows a backslash is getting added to the command:

[code]

The backslash is getting put into the echo command escaped and is not being used to redirect the Output.txt file, so the out

I feel like I'm missing something obvious, any help is appreciated, I've tri

[2019-09-18 14:20] d3signerd opened #79 "The iOS template script is removing the download link for iPad Air 2 iOS 13."
` <script type='text/javascript'>
    // if (/Android/i.test(navigator.userAgent))
    // {
    //   document.getElementById("ios").remove()
    //   document.getElementById("desktop").remove()
    // }
    if (/iPhone|iPad|iPod/i.test(navigator.userAgent))
    {
      // document.getElementById("android").remove()
      document.getElementById("desktop").remove()
    }
    else
    {
      docume

[2019-09-26 10:23] troy-lamerton commented on #79
This seems to affect all devices running iPadOS 13.0.

Worth clarifying that there is no issue with running the app once it is installed. iPadOS runs the app just fine.

The issue is that the `index.html` page is not showing the download link on iPad's running iPadOS.

Though it is a hassle to copy the link and past into Chrome, that does work for now. I'm not using latest chrome.

[2019-10-01 17:11] #79 closed

[2019-10-01 17:14] joshdholtz commented on #79
Released `1.6.1` with fixes for this!

[2020-01-12 12:28] REPTILEHAUS commented on #28
Also getting permissions errors. looks like this is inactive so uploading via CURL might be the best solution

[2020-03-24 12:18] florianbuerger opened #84 "Fastlane 2.144.0 breaks compatibility"
The [upgrade to the v3 AWS SDK](https://github.com/fastlane/fastlane/pull/16143) in [2.144.0](https://github.com/fastlane/fastlane/releases/tag/2.144.0) isn't compatible with this plugin.

[code]

Seems this might be related →  [#16143](https://github.com/fastlane/fastlane/pull/16143#issuecomment-596610599)?

---

I can try to look into this later this week but I have no clue about ruby and the AW

[2020-03-25 22:22] cndouglas commented on #84
Might be fixed by #81.

[2020-03-26 06:56] GauravP123 commented on #84
getting following error
`Bundler could not find compatible versions for gem "aws-sdk-core":
  In snapshot (Gemfile.lock):
    aws-sdk-core (= 3.92.0)

  In Gemfile:
    aws-sdk-elasticsearchservice was resolved to 1.32.0, which depends on
      aws-sdk-core (~> 3, >= 3.71.0)

    fastlane-plugin-aws_s3 was resolved to 1.6.1, which depends on
      aws-sdk (~> 2.3) was resolved to 2.3.0, which depe

[2020-03-29 19:35] levibostian commented on #84
@florianbuerger, I encountered the same issue a while back. I made a PR to fix the problem.

Try installing my forked repo as your fastlane plugin to use. In your `fastlane/Pluginfile`, add this line:

[code]

...and comment out your previous `gem 'fastlane-plugin-aws_s3'` line in the file which points to the original outdated plugin.

---

Because you should never install someone's code just beca

[2020-03-31 08:17] jeroendelau commented on #84
Unfortunately, this failed for me.
Fastlane version with 2.144

[code]

[2020-03-31 16:22] levibostian commented on #84
Ah, thanks @jeroendelau for pointing that out. I realized that my iOS project I was testing with was using [the original](https://github.com/fastlane-community/fastlane-plugin-s3/pull/81) PR and not the modular one. I fixed the require crashed and pushed up an update to that branch.

[2020-03-31 16:52] joshdholtz commented on #84
Hey all! I will get the new version out that fixes this this afternoon 😊 Sorry about the issue 😔

[2020-04-03 05:05] GauravP123 commented on #84
its fixed ? have to use `gem 'fastlane-plugin-aws_s3', git: 'https://github.com/levibostian/fastlane-plugin-s3/', ref: '3b517f92de' ?
`

[2020-04-03 15:01] #71 closed

[2020-04-03 15:01] #84 closed

[2020-04-03 15:11] joshdholtz commented on #84
Fixed in version `1.170.0` 🚀

[2020-04-03 15:11] joshdholtz commented on #71
Fixed in version `1.170.0` 🚀

[2020-04-28 12:04] timothy-volvo commented on #54
@joshdholtz, is this issue resolved by PR #86? I will try to test myself, but don't have an environment setup at the moment.

I have doubts as I thought Instance profiles were for EC2. If my understanding is correct, then shouldn't PR #86 have introduced a boolean flag to indicate whether to use InstanceProfile or not. If false and no other s3_* flags are set then the credentials would be resolved

[2020-04-28 13:13] joshdholtz commented on #54
@timothy-volvo I’ll take a deeper look today! I thought it did but I will make sure.

[2020-06-10 01:47] danielc103 opened #90 "SSL_connect returned=1 errno=0 state=error: certificate verify failed (unspecified certificate verification error)"
Not sure why I'm getting this error, other s3 tools work fine.

[code]

[2020-06-15 14:07] mrosales commented on #54
#86 still won't resolve this. As an example, using `STS` credentials, you must pass `AWS_ACCESS_KEY_ID`, `AWS_ACCESS_SECRET_KEY` and `AWS_SESSION_TOKEN`. After this PR, roles assumed by STS will still not work because specifying the first two as parameters will result in incomplete credentials and omitting them results in using `InstanceProfileCredentials` rather than the default chain.

AWS uses

[2020-07-06 15:07] joshdholtz opened #91 "Issue with `apktools` not supporting ruby-zip 2.0 (PR #26)"
Looks like we are currently waiting on https://github.com/devunwired/apktools/pull/26 (by @giginet) to be merged in 😊

You should be able to add 👇 to your `Gemfile` to fix this:
[code]

Run `bundle update` and you should be good 🤞

[2020-08-12 22:01] nickgsc commented on #91
Looks like this was merged and released in `0.7.4` of apktools: https://github.com/devunwired/apktools/commit/ad53af91ec625d66f5b353c7c18d8034df33bc2e

[2020-08-19 13:19] nihp opened #92 "Clarification: Can I able to upload the screenshots in s3 using fastlane"
I have some clarification.

1. If I select the 1 in the below where the screenshots will be displayed.
2. How can I upload the image to s3
3. Or for all screenshots it will give any html link
4. If [3] is yes, does it give a link for single image

[2020-10-30 07:32] realnumber commented on #77
I had the same problem w/ `circleci/android:api-29-node` image and this solved the issue for me.

[code]

[2020-11-30 19:42] andris-zalitis commented on #47
We had a similar situation. Instead of changing the plugin itself though, we used custom template files where we replaced the hostnames in the URLs. I.e. something like this:

[code]

The same approach would go for html and plist templates.

[2021-01-29 18:11] felginep opened #94 "Value of S3_FOLDER_OUTPUT_PATH is sometimes wrong due to url encoding"
I want to upload a folder in which I have several files named with the following form:

[code]

Note the `==` at the end of the file name.

When using the `aws_s3(folder: "iOSProject.xcresult")` the file is uploaded correctly to my bucket, and the final url has the following form, which is correct:

[code]

We can note that the last path component is `0~pvlGU5pGizhBI1k74zczqoDoy_lNvIDREFIIhVLL-uXc

[2021-03-25 15:00] #94 closed

[2021-03-25 21:03] tabrindle opened #96 "Unknown method 'version_file_names'"
Error throws - upload of artifact and html successful, but fails the rest of the process because of the version file.

[code]
Using like this:
[code]

May be related to the 2.0.0 upgrade. https://github.com/fastlane-community/fastlane-plugin-s3/pull/51/files

EDIT: adding `upload_metadata: false,` seems to be a temporary workaround as it returns in that function early, but I'd like to use the vers

[2021-03-26 13:07] felginep opened #97 "Wrong number of arguments with v2.0.0"
With the new version 2.0.0, the method `upload_file` expects 9 arguments but is called with only 7.

In version **1.8.3**
https://github.com/fastlane-community/fastlane-plugin-s3/blob/20ae0fe44291408756ec4ec7bda43ea28be59c50/lib/fastlane/plugin/aws_s3/actions/aws_s3_action.rb#L503

In version **2.0.0**
https://github.com/fastlane-community/fastlane-plugin-s3/blob/b2a05da1efa554d109c0ec72031ab7e57e

[2021-03-26 18:24] sebalopez commented on #96
Seeing the same issue here. Using 2.0.0 version with fastlane 2.179.0 on ubuntu

[2021-03-29 09:45] yejunyiDadi commented on #96
I also encountered the same problem in Travis-ci.

[code]

vsersion: 2.0.0

[2021-03-30 17:24] VinhShin commented on #96
I faced the same issue with Fastlane 2.179.0 in Big Sur

[2021-03-31 10:02] schwmi commented on #97
Have the same error - I am calling `aws_s3` via:
[code]

using it it distribute a zipped Mac app. This used to work in previous versions.

[2021-03-31 12:45] redlabrat commented on #96
Faced same error for android build upload. For iOS build upload for the same AWS server this plugin worked correctly.

[2021-03-31 18:19] joshdholtz commented on #97
Ah sorry! Will fix will fix

[2021-03-31 21:42] #97 closed

[2021-04-06 01:34] #96 closed

[2021-04-06 01:39] tabrindle commented on #96
Thanks!

[2021-04-06 01:40] joshdholtz commented on #96
@tabrindle You’re welcome! Sorry for introducing the error in the first place 😅  This is released now in `2.0.2` 💪

[2021-05-31 08:07] dinghaoz opened #100 "Can .aab be supported in addition to apk?"

[2021-06-11 12:18] davibe opened #101 "uploading files is inconsistent when using `path`"

[2021-06-11 12:21] davibe commented on #101
Considering I want to upload `App.apk` and `file.zip`

If i use `path: "test"`
=> the apk will be uploaded as `testApp.apk` while the files will be stored in `test/file.zip`

If I use `path: "test/"
=> the apk will be uploaded as `test/App.apk` while the files will NOT be uploaded

This is because the path is handled inconsistently for uploading files and apk

[2021-07-12 19:17] Rileyp33 commented on #100
@dinghaoz did you solve for uploading an AAB instead of an APK?

[2021-07-18 22:59] EddieCameron opened #103 "Providing empty string to disable dsym upload gives error"
When providing an empty string to override the default env var DSYM_OUTPUT_PATH, the plugin complains that the path is invalid.
It looks like the check whether to upload the dSYM is just checking for a nil `dsym_file` string, but the string can never be nil since it would be defaulted to the DSYM_OUTPUT_PATH.

[code]

[2021-09-21 02:50] joohae-kim commented on #54
I wonder if we can simply add a option variable for AWS_SESSION_TOKEN to use `STS` credentials
I can use session token with `AWS_PROFILE` options, but I have to update `.aws/credential` file almost every release
hence, I wish I can use the `AWS_SESSION_TOKEN` environmental variable

I touched up the code a little and it looks working fine for my case:
[code]

[2021-09-25 16:25] sebsto commented on #90
I have the same error on fastlane 2.195.0. Did you solve this ?

[2021-09-28 18:12] danielc103 commented on #90
sorry, I don't remember if we ever got this fixed for this specific project.

[2021-09-28 18:12] #90 closed

[2021-09-28 18:21] sebsto opened #106 "Fastlane match 2.195.0 fails to connect to Amazon S3 on new machine"
### New Regression Checklist

- [X] Updated fastlane to the latest version
- [X] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [X] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [X] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Information

Installed on a fresh macOS 11.6 machi

[2021-10-05 20:08] lundstrj opened #107 "no implicit conversion of nil into String"
I've run into an issue in Fastlane where aws_s3 fails with a rather cryptic `no implicit conversion of nil into String`.
This is my first time using Fastlane (and ruby) so please forgive me if this is simple 101 stuff (searching didn't yield any useful hits. I suppose it is possible I was searching for the wrong things).

Here is a bit more context:
`[19:45:00]: -----------------------------------

[2021-10-05 20:09] lundstrj commented on #107
I also had a peek at `/Users/distiller/.rubies/ruby-2.7.3/lib/ruby/2.7.0/open3.rb` but nothing looked obviously amiss to me.

[2022-02-24 22:27] tfaieta opened #108 "acl options should be hyphenated not underscored"
Hey thanks for everything you all do with fastlane, really love the project 😄 🍾 . Noticed one small issue in the documentation for the `acl` option:

https://github.com/fastlane-community/fastlane-plugin-s3/blob/0a28ed29ed436797ad4c00e56486fbb431fd23aa/lib/fastlane/plugin/aws_s3/actions/aws_s3_action.rb#L768

I believe the correct options are hyphenated `public-read` (like the default is), `public

[2022-03-05 16:32] #108 closed

[2022-05-10 21:04] brookse commented on #100
@dinghaoz @Rileyp33 any update on uploading an AAB? I'm running into this now.

[2022-05-10 21:55] joshdholtz commented on #100
@brookse Heyyy!! 😁 The bad part about AAB is that they can't be sideloaded as easy an as APK. The AAB is more of a raw asset kind of thing that Google Play turns into different APKs versions when requested by devices.

So, something like https://play.google.com/store/apps/details?id=com.aefyr.sai&hl=en&gl=US needs to be installed on the client device in order to turn the AAB into an APK that can b

[2022-05-12 18:46] brookse commented on #100
@joshdholtz Hiya 👋 💜

Gotcha. One of my clients wants to submit aabs instead of apks to the Play store for a number of reasons (the biggest one is wanting to use Google's compression stuff so that the build is smaller, but also any [new apps are required to be an aab](https://android-developers.googleblog.com/2021/06/the-future-of-android-app-bundles-is.html), so I imagine it might bottleneck othe

[2022-07-04 09:42] Kiran-B opened #110 "[Feature Request] Support to upload multiple APKs."
A single gradle command could generate multiple APKs. One of the most common usecases are,
- debug & release flavor
- multiple builds pointing to development, staging, pre-prod and prod backend end points.

Fastlane correctly recognizes them and the following Lane Context variables reflect the same.
GRADLE_ALL_APK_OUTPUT_PATHS = [
"/some-path/app/build/outputs/apk/prod/debug/App-prod-debug-1.0.0(3

[2022-07-19 20:07] piscespieces commented on #106
Any news on this?

[2022-09-07 02:18] olamove opened #111 "Cant locate dSYM"
Hi, I am trying to upload both IPA and dSYM but got this error

 ERROR : No such file or directory - xxx.app.dSYM.zip

[code]

[2022-09-08 20:34] olamove opened #112 "error No such file or directory"
I keep getting this error No such file or directory @ rb_sysopen - App.com.ipa

Though my Lane is running `/Users/distiller/project/Project/fastlane`

aws_s3(
      # All of these are used to make Shenzhen's `ipa distribute:s3` command
      access_key: ENV['AWS_ACCESS_KEY_ID'],               # Optional - defaults to AWS Instance Profile Creds.
      secret_access_key: ENV['AWS_SECRET_ACCESS_KEY']